
.App-header {
  background-color: #282c34;
}
a{
  color: inherit !important;
  text-decoration: none !important;
}
.whatsapp-box, .discord-box, .github-box{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
.innerimg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-main p{
  padding: 5px 0px;
}
